* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 425px) {
    .container {
        max-width:425px
    }
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}
@media (min-width: 1440px) {
    .container {
        padding-left:4rem;
        padding-right: 4rem
    }
}

@media (min-width: 1536px) {
    .container {
        padding-left:3rem;
        padding-right: 3rem
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;